################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

uweb
uweb.exe
uweb.ppx
uweb.tag
/.vs
*.pdb
/output
