################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

uweb
uweb.exe
printf.c
/.vs
/Debug
/Release
/x64
/Win32/Release
*.pdb
/Win32/Debug
/output
